.nav{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  height: 50px;
}

.nav li{
  display: inline;
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  line-height: 50px;
  /*border: 1px solid #ffffff;*/
}

.nav li a{
  color: white;
  text-decoration: none;
}

.nav li a:hover{
  color:red;
  background-color: white;
}

.selected {
  background-color: blue;
  color: white;
}

.hidden {
  display: none;
}

h1{
  text-align: center;
}

.grumps{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
  border: 5px solid #000000;
}

.mice{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
  border: 5px solid #000000;
}

.codeDoge{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
  border: 5px solid #000000;
}

.dogeKnight{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
  border: 5px solid #000000;
}

.fail {
  width: 100%;
  position: absolute;
}

.failtext {
  position: relative;
  color: yellow;
}
