<div>
  <h1>Bow to his highness Lord GrumpZ!</h1>
  <img class="grumps" src="images/grumps.jpg" alt="Grumpy cat" />
  <p>MeeeeeeeeeeOOOOWWWWWWWW!</p>
  <p>I said bow!</p>
  <p>Right meow!</p>
  <p>I am such a funny cat.</p>
  <p>Doge is my sworn nemesis. He has foiled too many of my plots. He acts like a complete imbecile, but he is very wise. Such coniving. Much brave. GOD, now I'm talking like that imbecile doge</p>
  <p>No one will stop me in my mission to take over the world, not even that blasted doge. I have listed the assistance of so of my previous nemesis who have similar asspirations. They don't know that once they have helped me taked over the world, I will eat them like the vermin they are!!!!</p>
  <h1 class="evilLaugh">Muahahahahahahahahaha!</h1>
</div>
