<div>
  <h1>Hey, I'm Doge</h1>
  <img class="codeDoge" src="images/codedoge.jpg" alt="Programmer Doge" />
  <p>I love to write code! WOW. So Excite! Much Program! Very Computer.</p>
  <p>When I'm not busying saving the world from cyber nightmares, I enjoy foiling the evil plots of lord Grumps. He is the most while villian the world has ever known.</p>
  <img class="dogeKnight" src="images/doge_knight.png" alt="The Dark Doge Rises" />
  <p>I'm the doge the world deserves, but not the one it needs right now.</p>
  <p>I've been a good boy, now rub mah belllllly!</p>
  <img class="bellyRubs" src="images/belly_rubs.jpg" alt="Happy Shiba" />
  <h1 class="squirrel">Squirrel!</h1>
  <img class="squirrelDoge" src="images/squirrel_doge.gif" alt="Doge gif" />
</div>
