<div class="backgroundPic">
  <!-- <img class="fail" src="images/fail_whale.jpg" alt="Fail Whale 404"/> -->
  <div>
    <h1 class="failtext">Error! /404/ Error!</h1>
      <pre class="failtext">
                ▄████████████▄▐█▄▄▄▄█▌
               █████▌▄▌▄▐▐▌██▌▀▀██▀▀
             ███▄█▌▄▌▄▐▐▌▀██▄▄█▌
           ▄▄▄▄█████████████
      </pre>
    <p class="failtext">The server is either dead, doesn't exist, or you went to a page that isn't real. Use the navbar above to redirect yourself to where you want to go.</p>
  </div>
</div>
